<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.biganiseed.reindeer"
    android:versionCode="1652"
    android:versionName="1.652">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="com.android.vending.BILLING" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <!-- <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/> -->

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="21"/>

    <application
            android:name="ReindeerApplication"
            android:hardwareAccelerated="true"
            android:icon="@drawable/re_ic_launcher"
            android:label="@string/re_app_name"
	        android:theme="@style/defaultActivity"
        >

        <!--<activity-->
                <!--android:name="com.google.ads.AdActivity"-->
                <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>-->

<!--         <activity
                android:name="com.github.shadowsocks.Shadowsocks"
                android:label="@string/app_name"
                android:theme="@style/Theme.Shadowsocks"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
  -->
        <activity
                android:name="MainActivity"
                android:launchMode="singleTask"
 				android:screenOrientation="portrait"
                 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TermsConfirm" android:label="@string/tos" android:theme="@style/defaultDialog" android:screenOrientation="portrait" />
        <activity android:name=".EditPassword" android:label="@string/edit_password" android:theme="@style/defaultDialog" android:screenOrientation="portrait" />
        <activity android:name=".Signin" android:label="@string/signin" android:theme="@style/defaultDialog" android:screenOrientation="portrait" />
        <activity android:name=".Signup" android:label="@string/signup" android:theme="@style/defaultDialog" android:screenOrientation="portrait" />

        <activity
            android:name="com.github.shadowsocks.ShadowsocksRunnerActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name=".ReindeerVpnService"
            android:label="@string/re_app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>


      	<service android:name=".DownloaderEx" android:enabled="true" ></service>
	    <service
	        android:name=".Checker"
	        android:enabled="true"
	        android:process=".checker"
	        >
	    </service>

		<meta-data android:value="53d1bdba56240b994801fa48" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="main" android:name="UMENG_CHANNEL"/>
        <!-- 自动更新相关 Start-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 自动更新相关 End -->


	</application>

</manifest>

